---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/e35811a2d29fc998/conditions/q/80301.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.087'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n{\n\t\"response\": {\n\t\t\"version\": \"0.1\"\n\t\t,\"termsofService\":
        \"http://www.wunderground.com/weather/api/d/terms.html\"\n\t\t,\"features\":
        {\n\t\t\"conditions\": 1\n\t\t}\n\t}\n\t\t,\t\"current_observation\": {\n\t\t\"image\":
        {\n\t\t\"url\":\"http://icons-ak.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Boulder, CO\",\n\t\t\"city\":\"Boulder\",\n\t\t\"state\":\"CO\",\n\t\t\"state_name\":\"Colorado\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"80301\",\n\t\t\"latitude\":\"40.04679489\",\n\t\t\"longitude\":\"-105.21250153\",\n\t\t\"elevation\":\"1605.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"63rd St & Jay Rd, Boulder, Colorado\",\n\t\t\"city\":\"63rd
        St & Jay Rd, Boulder\",\n\t\t\"state\":\"Colorado\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"40.055550\",\n\t\t\"longitude\":\"-105.208595\",\n\t\t\"elevation\":\"5202
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KCOBOULD39\",\n\t\t\"observation_time\":\"Last
        Updated on February 2, 12:14 AM MST\",\n\t\t\"observation_time_rfc822\":\"Sat,
        02 Feb 2013 00:14:14 -0700\",\n\t\t\"observation_epoch\":\"1359789254\",\n\t\t\"local_time_rfc822\":\"Sat,
        02 Feb 2013 00:16:49 -0700\",\n\t\t\"local_epoch\":\"1359789409\",\n\t\t\"local_tz_short\":\"MST\",\n\t\t\"local_tz_long\":\"America/Denver\",\n\t\t\"local_tz_offset\":\"-0700\",\n\t\t\"weather\":\"Clear\",\n\t\t\"temperature_string\":\"31.3
        F (-0.4 C)\",\n\t\t\"temp_f\":31.3,\n\t\t\"temp_c\":-0.4,\n\t\t\"relative_humidity\":\"59%\",\n\t\t\"wind_string\":\"From
        the SE at 2.0 MPH Gusting to 3.0 MPH\",\n\t\t\"wind_dir\":\"SE\",\n\t\t\"wind_degrees\":136,\n\t\t\"wind_mph\":2.0,\n\t\t\"wind_gust_mph\":\"3.0\",\n\t\t\"wind_kph\":3.2,\n\t\t\"wind_gust_kph\":\"4.8\",\n\t\t\"pressure_mb\":\"1022\",\n\t\t\"pressure_in\":\"30.17\",\n\t\t\"pressure_trend\":\"0\",\n\t\t\"dewpoint_string\":\"19
        F (-7 C)\",\n\t\t\"dewpoint_f\":19,\n\t\t\"dewpoint_c\":-7,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"31
        F (0 C)\",\n\t\t\"windchill_f\":\"31\",\n\t\t\"windchill_c\":\"0\",\n\t\t\"feelslike_string\":\"31
        F (0 C)\",\n\t\t\"feelslike_f\":\"31\",\n\t\t\"feelslike_c\":\"0\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"\",\n\t\t\"UV\":\"0\",\n\t\t\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons-ak.wxug.com/i/c/k/nt_clear.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/CO/Boulder.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KCOBOULD39\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=40.055550,-105.208595\"\n\t}\n}\n"
  recorded_at: Sat, 02 Feb 2013 07:16:49 GMT
recorded_with: VCR 2.4.0
